@use '@/scss/underscore' as _;

.groupTitle {
  font: var(--font-body-2);
  color: var(--color-text-secondary);
  margin-bottom: _.unit(2);
}

.groupList {
  // Max two columns
  gap: _.unit(5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  // Single column on phones so the checkboxes don't squish.
  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
