@use '@/scss/underscore' as _;

.roleTypes {
  display: flex;
  gap: _.unit(6);

  @media screen and (max-width: 640px) {
    flex-direction: column;
    gap: _.unit(3);
  }
}

.trailingIcon {
  width: 16px;
  height: 16px;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.strong {
  font-weight: 500;
}

.proTag {
  margin: 0;
  display: flex;
  align-items: center;
}
