@use '@/scss/underscore' as _;

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: _.unit(2);

  .createButton {
    margin-inline-start: _.unit(2);
  }

  @media screen and (max-width: 640px) {
    flex-wrap: wrap;

    > * {
      flex: 1 1 100%;
    }

    .createButton {
      margin-inline-start: 0;
    }
  }
}
